<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ./partial/head %>
  </head>

  <body class="container">
    <h3> Success! Your email has been linked <h3>
    <p><a href='/firstThread'>  First thread </a></p>
    </br>
    <p><a href='/listThreads'>  List of threads </a></p>
    </br>
   <p><a href= '/' > Link up another email account </a></p>
  </body>
</html>
