<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partial/head %>
</head>
  <body class="container">
    <h1>  Welcome to my Email Syncing App <h1>
    <a href= <%= url %> > Sign in to sync your Email </a>
  </body>
</html>

