
h1 {
 color: red;
}

h2 {
 color: blue;
}

h3 {
 color: green;
}



  .form-field {
    font-size: 14px;
    padding: 2px;
    margin-bottom: 30px;
    width: 180px;
    height: 20px;

  }

  button{
  font-size: 12px;
  background-color: dodgerblue ;
  padding: 5px 25px;
  color: white;
  margin: 80px 5px;
}
